.filter, .productionForm input {
    border: 1px solid lightgray;
}

.filter {
    background-color: #F7F7F7;
}

.filter h2, .filter form {
    margin: 6px;
}

.filter form input {
    border-radius: 5px;
}